*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
}
body {
 background-color: #eee;
}
header{
  background-color: #f5ba13;
  color: #fff;
  align-items: center;
  padding: 1.25rem 2rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
header h1{
    font-family: 'McLaren', cursive;
    font-weight: normal;
}
.content{
  display: block;
  background-color: #fff;
  border-radius: .5rem;
  padding: .5rem .75rem .5rem .5rem;
  margin: 1rem 3rem auto 2rem;
  width: 15rem;
}
.content h1{
  font-size: 1.1rem;
  justify-content: start;
  margin-bottom: .5rem;
}
.content p{
  font-size: 1.1rem;
  margin-bottom: .5rem;

}
footer{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 3rem;
  color: #ccc;
}

.Card{
  /* background-color: #ccc; */
  width:100%;
  padding:1rem .5rem;
  width: 20rem;
  border-radius: 1rem;
  z-index: 100;
}
.Card .title{
  background-color: aqua;
}
.Card .img{
  z-index: 101;
  position: absolute;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  border: 1rem solid white;
}
.Card .footer{
  background-color: aquamarine;
}